In [1]:
import pandas as pd

In [2]:
doc1 = 'C:/Users/Alexandra/Documents/Ironhack/Week4/Project/first_project/data/raw/train/df_Customers.csv'
customer_df = pd.read_csv(doc1)
customer_df.dropna(how='all', inplace=True)
customer_df.drop_duplicates(inplace=True)
customer_df

,customer_id,customer_zip_code_prefix,customer_city,customer_state
0,hCT0x9JiGXBQ,58125,varzea paulista,SP
1,PxA7fv9spyhx,3112,armacao dos buzios,RJ
2,g3nXeJkGI0Qw,4119,jandira,SP
3,EOEsCQ6QlpIg,18212,uberlandia,MG
4,mVz5LO2Vd6cL,88868,ilhabela,SP
...,...,...,...,...
89311,bfJtzkBGksdY,94060,amparo,SP
89312,4hjsCpj6FC7g,99835,itapevi,SP
89313,DLn56oKHl9bv,2540,sao paulo,SP
89314,auSfRYUQUOIq,12288,paulinia,SP
89315,rhevVNXYJnEs,93048,brasilia,DF

In [3]:
doc2 = 'C:/Users/Alexandra/Documents/Ironhack/Week4/Project/first_project/data/raw/train/df_OrderItems.csv'
order_items_df = pd.read_csv(doc2)
order_items_df.dropna(how='all', inplace=True)
order_items_df.drop_duplicates(inplace=True)
order_items_df

           order_id    product_id     seller_id    price  shipping_charges
0      Axfy13Hk4PIk  90K0C1fIyQUf  ZWM05J9LcBSF   223.51             84.65
1      v6px92oS8cLG  qejhpMGGVcsl  IjlpYfhUbRQs   170.80             23.79
2      Ulpf9skrhjfm  qUS5d2pEAyxJ  77p2EYxcM9MD    64.40             17.38
3      bwJVWupf2keN  639iGvMyv0De  jWzS0ayv9TGf   264.50             30.72
4      Dd0QnrMk9Cj5  1lycYGcsic2F  l1pYW6GBnPMr   779.90             30.66
...             ...           ...           ...      ...               ...
89311  zlcLnXGgAabl  W8vikEizUggJ  2QjevWskirjm    31.99            188.65
89312  IlTAoIkILwrq  KXSbyJWtMMwZ  BFS9XJPapWv0   282.00              1.64
89313  uA6oXfftGVmT  EG4wDSpFyTth  TuPm19CMKvrM    58.10              4.09
89314  v3QtU6xlGDJp  ZWyg4uNWPHjJ  yGbPyLPc8PmT  2899.00            113.01
89315  Xo1fqyXOC6CR  5pbzE0rDy61l  mkWN70fui2ro    37.88             70.06

[89316 rows x 5 columns]

In [4]:
doc3 = 'C:/Users/Alexandra/Documents/Ironhack/Week4/Project/first_project/data/raw/train/df_Orders.csv'
orders_df = pd.read_csv(doc3)
orders_df.dropna(how='all', inplace=True)
orders_df.drop_duplicates(inplace=True)
orders_df

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_timestamp,order_estimated_delivery_date
0,Axfy13Hk4PIk,hCT0x9JiGXBQ,delivered,2017-10-22 18:57:54,2017-10-22 19:14:13,2017-10-26 22:19:52,2017-11-09
1,v6px92oS8cLG,PxA7fv9spyhx,delivered,2018-06-20 21:40:31,2018-06-20 22:20:20,2018-07-03 22:51:22,2018-07-24
2,Ulpf9skrhjfm,g3nXeJkGI0Qw,delivered,2018-02-16 16:19:31,2018-02-17 16:15:35,2018-02-27 01:29:50,2018-03-08
3,bwJVWupf2keN,EOEsCQ6QlpIg,delivered,2018-08-18 18:04:29,2018-08-18 18:15:16,2018-08-27 20:03:51,2018-09-19
4,Dd0QnrMk9Cj5,mVz5LO2Vd6cL,delivered,2017-12-22 16:44:04,2017-12-22 17:31:31,2018-01-05 19:22:49,2018-01-18
...,...,...,...,...,...,...,...
89311,zlcLnXGgAabl,bfJtzkBGksdY,delivered,2018-08-19 17:25:36,2018-08-21 04:35:30,2018-08-30 14:47:46,2018-09-04
89312,IlTAoIkILwrq,4hjsCpj6FC7g,delivered,2017-12-15 11:20:27,2017-12-16 02:37:32,2017-12-20 19:23:40,2018-01-04
89313,uA6oXfftGVmT,DLn56oKHl9bv,delivered,2018-07-24 06:39:14,2018-07-24 11:20:39,2018-07-27 01:41:40,2018-08-01
89314,v3QtU6xlGDJp,auSfRYUQUOIq,delivered,2018-08-11 08:04:22,2018-08-11 08:24:40,2018-08-14 21:43:51,2018-08-17
89315,Xo1fqyXOC6CR,rhevVNXYJnEs,delivered,2018-06-09 21:46:58,2018-06-09 22:19:00,2018-06-14 15:03:46,2018-07-05

In [5]:
doc4 ='C:/Users/Alexandra/Documents/Ironhack/Week4/Project/first_project/data/raw/train/df_Payments.csv'
payments_df = pd.read_csv(doc4)
payments_df.dropna(how='all', inplace=True)
payments_df.drop_duplicates(inplace=True)
payments_df

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,Axfy13Hk4PIk,1,credit_card,1,259.14
1,v6px92oS8cLG,1,credit_card,8,382.39
2,Ulpf9skrhjfm,1,credit_card,4,249.25
3,bwJVWupf2keN,1,credit_card,2,27.79
4,Dd0QnrMk9Cj5,1,credit_card,1,76.15
...,...,...,...,...,...
89311,zlcLnXGgAabl,1,wallet,1,128.00
89312,IlTAoIkILwrq,1,wallet,1,106.86
89313,uA6oXfftGVmT,1,credit_card,1,376.39
89314,v3QtU6xlGDJp,1,voucher,1,48.05
89315,Xo1fqyXOC6CR,1,credit_card,10,211.93

In [6]:
payments_df = payments_df.reset_index().rename(columns={'index': 'payment_id'})
payments_df["payment_id"] = payments_df["payment_id"] +1

In [7]:
display(payments_df)

,payment_id,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,1,Axfy13Hk4PIk,1,credit_card,1,259.14
1,2,v6px92oS8cLG,1,credit_card,8,382.39
2,3,Ulpf9skrhjfm,1,credit_card,4,249.25
3,4,bwJVWupf2keN,1,credit_card,2,27.79
4,5,Dd0QnrMk9Cj5,1,credit_card,1,76.15
...,...,...,...,...,...,...
89311,89312,zlcLnXGgAabl,1,wallet,1,128.00
89312,89313,IlTAoIkILwrq,1,wallet,1,106.86
89313,89314,uA6oXfftGVmT,1,credit_card,1,376.39
89314,89315,v3QtU6xlGDJp,1,voucher,1,48.05
89315,89316,Xo1fqyXOC6CR,1,credit_card,10,211.93

In [8]:
doc5 = 'C:/Users/Alexandra/Documents/Ironhack/Week4/Project/first_project/data/raw/train/df_Products.csv'
products_df = pd.read_csv(doc5)
products_df.dropna(how='all', inplace=True)
products_df.drop_duplicates(inplace=True)
products_df

,product_id,product_category_name,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,90K0C1fIyQUf,toys,491.0,19.0,12.0,16.0
1,qejhpMGGVcsl,watches_gifts,440.0,18.0,14.0,17.0
2,qUS5d2pEAyxJ,costruction_tools_garden,2200.0,16.0,16.0,16.0
3,639iGvMyv0De,toys,1450.0,68.0,3.0,48.0
4,1lycYGcsic2F,toys,300.0,17.0,4.0,12.0
...,...,...,...,...,...,...
89291,USSzekoHkA25,toys,1352.0,37.0,9.0,30.0
89297,SZRgDV7xa2U8,toys,1360.0,28.0,21.0,24.0
89303,w2OtdEjwNHBr,toys,833.0,17.0,12.0,16.0
89311,W8vikEizUggJ,toys,700.0,21.0,14.0,14.0
89315,5pbzE0rDy61l,toys,1750.0,32.0,18.0,24.0

In [9]:
# doc5 = 'C:/Users/Alexandra/Documents/Ironhack/Week4/Project/first_project/data/raw/train/df_Products.csv'
# products_df = pd.read_csv(doc5)
# products_df.dropna(how='all', inplace=True)
# products_df.drop_duplicates(inplace=True)
# products_df

In [10]:
#merge Orders and Order_items
result = pd.merge(orders_df, order_items_df, on='order_id')
display(result)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_timestamp,order_estimated_delivery_date,product_id,seller_id,price,shipping_charges
0,Axfy13Hk4PIk,hCT0x9JiGXBQ,delivered,2017-10-22 18:57:54,2017-10-22 19:14:13,2017-10-26 22:19:52,2017-11-09,90K0C1fIyQUf,ZWM05J9LcBSF,223.51,84.65
1,v6px92oS8cLG,PxA7fv9spyhx,delivered,2018-06-20 21:40:31,2018-06-20 22:20:20,2018-07-03 22:51:22,2018-07-24,qejhpMGGVcsl,IjlpYfhUbRQs,170.80,23.79
2,Ulpf9skrhjfm,g3nXeJkGI0Qw,delivered,2018-02-16 16:19:31,2018-02-17 16:15:35,2018-02-27 01:29:50,2018-03-08,qUS5d2pEAyxJ,77p2EYxcM9MD,64.40,17.38
3,bwJVWupf2keN,EOEsCQ6QlpIg,delivered,2018-08-18 18:04:29,2018-08-18 18:15:16,2018-08-27 20:03:51,2018-09-19,639iGvMyv0De,jWzS0ayv9TGf,264.50,30.72
4,Dd0QnrMk9Cj5,mVz5LO2Vd6cL,delivered,2017-12-22 16:44:04,2017-12-22 17:31:31,2018-01-05 19:22:49,2018-01-18,1lycYGcsic2F,l1pYW6GBnPMr,779.90,30.66
...,...,...,...,...,...,...,...,...,...,...,...
89311,zlcLnXGgAabl,bfJtzkBGksdY,delivered,2018-08-19 17:25:36,2018-08-21 04:35:30,2018-08-30 14:47:46,2018-09-04,W8vikEizUggJ,2QjevWskirjm,31.99,188.65
89312,IlTAoIkILwrq,4hjsCpj6FC7g,delivered,2017-12-15 11:20:27,2017-12-16 02:37:32,2017-12-20 19:23:40,2018-01-04,KXSbyJWtMMwZ,BFS9XJPapWv0,282.00,1.64
89313,uA6oXfftGVmT,DLn56oKHl9bv,delivered,2018-07-24 06:39:14,2018-07-24 11:20:39,2018-07-27 01:41:40,2018-08-01,EG4wDSpFyTth,TuPm19CMKvrM,58.10,4.09
89314,v3QtU6xlGDJp,auSfRYUQUOIq,delivered,2018-08-11 08:04:22,2018-08-11 08:24:40,2018-08-14 21:43:51,2018-08-17,ZWyg4uNWPHjJ,yGbPyLPc8PmT,2899.00,113.01
89315,Xo1fqyXOC6CR,rhevVNXYJnEs,delivered,2018-06-09 21:46:58,2018-06-09 22:19:00,2018-06-14 15:03:46,2018-07-05,5pbzE0rDy61l,mkWN70fui2ro,37.88,70.06

In [11]:
#merge result with customer_df on customer_id
result = pd.merge(result, customer_df, on='customer_id')

In [12]:
#merge result with payments_df on order_id
result = pd.merge(result, payments_df, on='order_id')

In [13]:
#merge result with product_df on product_id
result = pd.merge(result, products_df, on='product_id')

In [14]:
#displaying the result with all columns merged
display(result)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_timestamp,order_estimated_delivery_date,product_id,seller_id,price,...,payment_id,payment_sequential,payment_type,payment_installments,payment_value,product_category_name,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,Axfy13Hk4PIk,hCT0x9JiGXBQ,delivered,2017-10-22 18:57:54,2017-10-22 19:14:13,2017-10-26 22:19:52,2017-11-09,90K0C1fIyQUf,ZWM05J9LcBSF,223.51,...,1,1,credit_card,1,259.14,toys,491.0,19.0,12.0,16.0
1,v6px92oS8cLG,PxA7fv9spyhx,delivered,2018-06-20 21:40:31,2018-06-20 22:20:20,2018-07-03 22:51:22,2018-07-24,qejhpMGGVcsl,IjlpYfhUbRQs,170.80,...,2,1,credit_card,8,382.39,watches_gifts,440.0,18.0,14.0,17.0
2,Ulpf9skrhjfm,g3nXeJkGI0Qw,delivered,2018-02-16 16:19:31,2018-02-17 16:15:35,2018-02-27 01:29:50,2018-03-08,qUS5d2pEAyxJ,77p2EYxcM9MD,64.40,...,3,1,credit_card,4,249.25,costruction_tools_garden,2200.0,16.0,16.0,16.0
3,bwJVWupf2keN,EOEsCQ6QlpIg,delivered,2018-08-18 18:04:29,2018-08-18 18:15:16,2018-08-27 20:03:51,2018-09-19,639iGvMyv0De,jWzS0ayv9TGf,264.50,...,4,1,credit_card,2,27.79,toys,1450.0,68.0,3.0,48.0
4,Dd0QnrMk9Cj5,mVz5LO2Vd6cL,delivered,2017-12-22 16:44:04,2017-12-22 17:31:31,2018-01-05 19:22:49,2018-01-18,1lycYGcsic2F,l1pYW6GBnPMr,779.90,...,5,1,credit_card,1,76.15,toys,300.0,17.0,4.0,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89311,zlcLnXGgAabl,bfJtzkBGksdY,delivered,2018-08-19 17:25:36,2018-08-21 04:35:30,2018-08-30 14:47:46,2018-09-04,W8vikEizUggJ,2QjevWskirjm,31.99,...,89312,1,wallet,1,128.00,toys,700.0,21.0,14.0,14.0
89312,IlTAoIkILwrq,4hjsCpj6FC7g,delivered,2017-12-15 11:20:27,2017-12-16 02:37:32,2017-12-20 19:23:40,2018-01-04,KXSbyJWtMMwZ,BFS9XJPapWv0,282.00,...,89313,1,wallet,1,106.86,toys,600.0,16.0,16.0,16.0
89313,uA6oXfftGVmT,DLn56oKHl9bv,delivered,2018-07-24 06:39:14,2018-07-24 11:20:39,2018-07-27 01:41:40,2018-08-01,EG4wDSpFyTth,TuPm19CMKvrM,58.10,...,89314,1,credit_card,1,376.39,health_beauty,250.0,22.0,10.0,18.0
89314,v3QtU6xlGDJp,auSfRYUQUOIq,delivered,2018-08-11 08:04:22,2018-08-11 08:24:40,2018-08-14 21:43:51,2018-08-17,ZWyg4uNWPHjJ,yGbPyLPc8PmT,2899.00,...,89315,1,voucher,1,48.05,toys,250.0,16.0,2.0,11.0
89315,Xo1fqyXOC6CR,rhevVNXYJnEs,delivered,2018-06-09 21:46:58,2018-06-09 22:19:00,2018-06-14 15:03:46,2018-07-05,5pbzE0rDy61l,mkWN70fui2ro,37.88,...,89316,1,credit_card,10,211.93,toys,1750.0,32.0,18.0,24.0

In [15]:
result.isna().sum()

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                   9
order_delivered_timestamp        1889
order_estimated_delivery_date       0
product_id                          0
seller_id                           0
price                               0
shipping_charges                    0
customer_zip_code_prefix            0
customer_city                       0
customer_state                      0
payment_id                          0
payment_sequential                  0
payment_type                        0
payment_installments                0
payment_value                       0
product_category_name             308
product_weight_g                   15
product_length_cm                  15
product_height_cm                  15
product_width_cm                   15
dtype: int64

In [17]:
result.dtypes

order_id                          object
customer_id                       object
order_status                      object
order_purchase_timestamp          object
order_approved_at                 object
order_delivered_timestamp         object
order_estimated_delivery_date     object
product_id                        object
seller_id                         object
price                            float64
shipping_charges                 float64
customer_zip_code_prefix           int64
customer_city                     object
customer_state                    object
payment_id                         int64
payment_sequential                 int64
payment_type                      object
payment_installments               int64
payment_value                    float64
product_category_name             object
product_weight_g                 float64
product_length_cm                float64
product_height_cm                float64
product_width_cm                 float64
dtype: object

In [ ]:
#result.to_csv('../data/raw/merged_table_alexandra.csv', index=False, encoding='utf-8')

In [29]:
result['customer_city'].nunique()

3735

In [ ]:
#making sure the data is normalized 
result['customer_city']= result['customer_city'].str.strip()
result['customer_city'] = result['customer_city'].str.lower()

In [ ]:
#checking the unique values of 'customer_state'
result['customer_state'].unique()

array(['SP', 'RJ', 'MG', 'SC', 'ES', 'RN', 'BA', 'DF', 'RS', 'PE', 'GO',
       'CE', 'PR', 'MA', 'PI', 'MT', 'MS', 'SE', 'RO', 'TO', 'AM', 'AP',
       'PB', 'PA', 'AL', 'AC', 'RR'], dtype=object)

In [ ]:
#checking the payment sequentials
result['payment_sequential'].unique()

array([ 1,  8,  2,  6,  3,  4,  9,  5, 23, 11, 18, 10,  7, 12, 13, 26, 15,
       14, 17, 24, 21, 20, 16, 19, 22, 29, 25, 28])

In [50]:
#checking the payment type 
result['payment_type'].unique()

array(['credit_card', 'wallet', 'voucher', 'debit_card'], dtype=object)

In [ ]:
#checking the payment values 
result['payment_value'].unique()

array([259.14, 382.39, 249.25, ..., 324.89, 167.97, 128.  ],
      shape=(25520,))