In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv("../data/raw/merged_table_alexandra.csv")
df

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_timestamp,order_estimated_delivery_date,product_id,seller_id,price,...,payment_id,payment_sequential,payment_type,payment_installments,payment_value,product_category_name,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,Axfy13Hk4PIk,hCT0x9JiGXBQ,delivered,2017-10-22 18:57:54,2017-10-22 19:14:13,2017-10-26 22:19:52,2017-11-09,90K0C1fIyQUf,ZWM05J9LcBSF,223.51,...,1,1,credit_card,1,259.14,toys,491.0,19.0,12.0,16.0
1,v6px92oS8cLG,PxA7fv9spyhx,delivered,2018-06-20 21:40:31,2018-06-20 22:20:20,2018-07-03 22:51:22,2018-07-24,qejhpMGGVcsl,IjlpYfhUbRQs,170.80,...,2,1,credit_card,8,382.39,watches_gifts,440.0,18.0,14.0,17.0
2,Ulpf9skrhjfm,g3nXeJkGI0Qw,delivered,2018-02-16 16:19:31,2018-02-17 16:15:35,2018-02-27 01:29:50,2018-03-08,qUS5d2pEAyxJ,77p2EYxcM9MD,64.40,...,3,1,credit_card,4,249.25,costruction_tools_garden,2200.0,16.0,16.0,16.0
3,bwJVWupf2keN,EOEsCQ6QlpIg,delivered,2018-08-18 18:04:29,2018-08-18 18:15:16,2018-08-27 20:03:51,2018-09-19,639iGvMyv0De,jWzS0ayv9TGf,264.50,...,4,1,credit_card,2,27.79,toys,1450.0,68.0,3.0,48.0
4,Dd0QnrMk9Cj5,mVz5LO2Vd6cL,delivered,2017-12-22 16:44:04,2017-12-22 17:31:31,2018-01-05 19:22:49,2018-01-18,1lycYGcsic2F,l1pYW6GBnPMr,779.90,...,5,1,credit_card,1,76.15,toys,300.0,17.0,4.0,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89311,zlcLnXGgAabl,bfJtzkBGksdY,delivered,2018-08-19 17:25:36,2018-08-21 04:35:30,2018-08-30 14:47:46,2018-09-04,W8vikEizUggJ,2QjevWskirjm,31.99,...,89312,1,wallet,1,128.00,toys,700.0,21.0,14.0,14.0
89312,IlTAoIkILwrq,4hjsCpj6FC7g,delivered,2017-12-15 11:20:27,2017-12-16 02:37:32,2017-12-20 19:23:40,2018-01-04,KXSbyJWtMMwZ,BFS9XJPapWv0,282.00,...,89313,1,wallet,1,106.86,toys,600.0,16.0,16.0,16.0
89313,uA6oXfftGVmT,DLn56oKHl9bv,delivered,2018-07-24 06:39:14,2018-07-24 11:20:39,2018-07-27 01:41:40,2018-08-01,EG4wDSpFyTth,TuPm19CMKvrM,58.10,...,89314,1,credit_card,1,376.39,health_beauty,250.0,22.0,10.0,18.0
89314,v3QtU6xlGDJp,auSfRYUQUOIq,delivered,2018-08-11 08:04:22,2018-08-11 08:24:40,2018-08-14 21:43:51,2018-08-17,ZWyg4uNWPHjJ,yGbPyLPc8PmT,2899.00,...,89315,1,voucher,1,48.05,toys,250.0,16.0,2.0,11.0
89315,Xo1fqyXOC6CR,rhevVNXYJnEs,delivered,2018-06-09 21:46:58,2018-06-09 22:19:00,2018-06-14 15:03:46,2018-07-05,5pbzE0rDy61l,mkWN70fui2ro,37.88,...,89316,1,credit_card,10,211.93,toys,1750.0,32.0,18.0,24.0

In [3]:
#product_category_name column
df['product_category_name'].nunique()

70

In [4]:
df['product_category_name'].isnull().sum()

np.int64(308)

In [5]:
#product_category_name column
#Convert to lowercase
df['product_category_name'] = df['product_category_name'].str.lower()
df['product_category_name']

0                            toys
1                   watches_gifts
2        costruction_tools_garden
3                            toys
4                            toys
                   ...
89311                        toys
89312                        toys
89313               health_beauty
89314                        toys
89315                        toys
Name: product_category_name, Length: 89316, dtype: object

In [6]:
#filling missing values with unknown
df["product_category_name"] = df["product_category_name"].fillna("unknown")
df["product_category_name"]

0                            toys
1                   watches_gifts
2        costruction_tools_garden
3                            toys
4                            toys
                   ...
89311                        toys
89312                        toys
89313               health_beauty
89314                        toys
89315                        toys
Name: product_category_name, Length: 89316, dtype: object

In [7]:
df['product_category_name'].isnull().sum()

np.int64(0)

In [8]:
df['product_category_name'].unique()

array(['toys', 'watches_gifts', 'costruction_tools_garden',
       'bed_bath_table', 'auto', 'health_beauty', 'cool_stuff',
       'garden_tools', 'furniture_decor', 'fashion_shoes',
       'sports_leisure', 'baby', 'housewares',
       'construction_tools_construction', 'electronics',
       'home_appliances', 'audio', 'consoles_games', 'stationery',
       'furniture_living_room', 'computers_accessories', 'perfumery',
       'kitchen_dining_laundry_garden_furniture',
       'fashion_bags_accessories', 'market_place', 'telephony',
       'home_construction', 'unknown', 'office_furniture',
       'industry_commerce_and_business', 'food_drink', 'drinks',
       'agro_industry_and_commerce', 'signaling_and_security', 'food',
       'pet_shop', 'luggage_accessories', 'home_appliances_2',
       'small_appliances', 'tablets_printing_image',
       'construction_tools_lights', 'musical_instruments', 'home_confort',
       'air_conditioning', 'construction_tools_safety',
       'costruction_tools_tools', 'books_technical',
       'books_general_interest', 'books_imported', 'computers',
       'cine_photo', 'music', 'fashion_male_clothing', 'fashion_sport',
       'fixed_telephony', 'fashion_underwear_beach', 'furniture_bedroom',
       'art', 'christmas_supplies', 'dvds_blu_ray', 'flowers',
       'la_cuisine', 'furniture_mattress_and_upholstery',
       'small_appliances_home_oven_and_coffee', 'home_comfort_2',
       'arts_and_craftmanship', 'party_supplies',
       'fashion_childrens_clothes', 'fashio_female_clothing',
       'security_and_services', 'diapers_and_hygiene'], dtype=object)

In [9]:
df['product_category_name'] = df['product_category_name'].str.strip()
df['product_category_name'] = df['product_category_name'].str.replace(r'\s+', ' ', regex=True)

In [10]:
sorted(df['product_category_name'].unique())

['agro_industry_and_commerce',
 'air_conditioning',
 'art',
 'arts_and_craftmanship',
 'audio',
 'auto',
 'baby',
 'bed_bath_table',
 'books_general_interest',
 'books_imported',
 'books_technical',
 'christmas_supplies',
 'cine_photo',
 'computers',
 'computers_accessories',
 'consoles_games',
 'construction_tools_construction',
 'construction_tools_lights',
 'construction_tools_safety',
 'cool_stuff',
 'costruction_tools_garden',
 'costruction_tools_tools',
 'diapers_and_hygiene',
 'drinks',
 'dvds_blu_ray',
 'electronics',
 'fashio_female_clothing',
 'fashion_bags_accessories',
 'fashion_childrens_clothes',
 'fashion_male_clothing',
 'fashion_shoes',
 'fashion_sport',
 'fashion_underwear_beach',
 'fixed_telephony',
 'flowers',
 'food',
 'food_drink',
 'furniture_bedroom',
 'furniture_decor',
 'furniture_living_room',
 'furniture_mattress_and_upholstery',
 'garden_tools',
 'health_beauty',
 'home_appliances',
 'home_appliances_2',
 'home_comfort_2',
 'home_confort',
 'home_construction',
 'housewares',
 'industry_commerce_and_business',
 'kitchen_dining_laundry_garden_furniture',
 'la_cuisine',
 'luggage_accessories',
 'market_place',
 'music',
 'musical_instruments',
 'office_furniture',
 'party_supplies',
 'perfumery',
 'pet_shop',
 'security_and_services',
 'signaling_and_security',
 'small_appliances',
 'small_appliances_home_oven_and_coffee',
 'sports_leisure',
 'stationery',
 'tablets_printing_image',
 'telephony',
 'toys',
 'unknown',
 'watches_gifts']

In [11]:
#missspelling
fixes = {
    'costruction_tools_garden': 'construction_tools_garden',
    'costruction_tools_tools': 'construction_tools_tools',
    'fashio_female_clothing': 'fashion_female_clothing',

    'home_confort': 'home_comfort',
    'home_comfort_2': 'home_comfort',

    'home_appliances_2': 'home_appliances',
    'small_appliances': 'home_appliances',
    'small_appliances_home_oven_and_coffee': 'home_appliances',

    'food_drink': 'food_and_drinks',
    'drinks': 'food_and_drinks',
    'food': 'food_and_drinks'
}

df['product_category_name'] = df['product_category_name'].replace(fixes)

In [12]:
df['product_category_name'].nunique()

65

In [13]:
df['product_category_name'].value_counts().head(10)

product_category_name
toys                     67027
health_beauty             2351
bed_bath_table            2146
sports_leisure            1837
furniture_decor           1760
computers_accessories     1715
housewares                1340
watches_gifts             1196
telephony                  912
auto                       829
Name: count, dtype: int64

In [14]:
df['product_category_name'].isnull().sum()

np.int64(0)

In [15]:
df['product_category_name'].value_counts().loc['unknown']

np.int64(308)

In [16]:
#product_weight_g
df['product_weight_g'].isnull().sum()

np.int64(15)

In [17]:
df['product_weight_g'].describe()

count    89301.000000
mean      2087.068129
std       3747.039215
min          0.000000
25%        300.000000
50%        700.000000
75%       1800.000000
max      40425.000000
Name: product_weight_g, dtype: float64

In [18]:
#how many 0 s exist?
(df['product_weight_g'] == 0).sum()

np.int64(6)

In [19]:
df['product_weight_g'] = df['product_weight_g'].replace(0, np.nan)

In [20]:
df= df['product_weight_g'].dropna

In [23]:
#check for negative values
(df['product_weight_g'] < 0).sum()

np.int64(0)

In [24]:
# product_length_cm
df['product_length_cm'].isnull().sum()

np.int64(15)

In [25]:
df['product_length_cm'].describe()

count    89301.000000
mean        30.220658
std         16.110199
min          7.000000
25%         18.000000
50%         25.000000
75%         38.000000
max        105.000000
Name: product_length_cm, dtype: float64

In [26]:
(df['product_length_cm'] == 0).sum()

np.int64(0)

In [27]:
(df['product_length_cm'] < 0).sum()

np.int64(0)

In [28]:
df= df['product_length_cm'].dropna

In [31]:
#product height
df['product_height_cm'].isnull().sum()

np.int64(15)

In [32]:
df['product_height_cm'].describe()

count    89301.000000
mean        16.559423
std         13.388514
min          2.000000
25%          8.000000
50%         13.000000
75%         20.000000
max        105.000000
Name: product_height_cm, dtype: float64

In [33]:
(df['product_height_cm'] == 0).sum()

np.int64(0)

In [34]:
(df['product_height_cm'] < 0).sum()

np.int64(0)

In [35]:
df= df['product_height_cm'].dropna

In [38]:
#product width
df['product_width_cm'].isnull().sum()

np.int64(15)

In [39]:
df['product_width_cm'].describe()

count    89301.00000
mean        23.03421
std         11.68828
min          6.00000
25%         15.00000
50%         20.00000
75%         30.00000
max        118.00000
Name: product_width_cm, dtype: float64

In [40]:
(df['product_width_cm'] == 0).sum()

np.int64(0)

In [41]:
(df['product_width_cm'] < 0).sum()

np.int64(0)

In [42]:
df= df['product_width_cm'].dropna

In [45]:
#checking
df[['product_weight_g',
    'product_length_cm',
    'product_height_cm',
    'product_width_cm']].describe()

,product_weight_g,product_length_cm,product_height_cm,product_width_cm
count,89301.000000,89301.000000,89301.000000,89301.00000
mean,2087.068129,30.220658,16.559423,23.03421
std,3747.039215,16.110199,13.388514,11.68828
min,0.000000,7.000000,2.000000,6.00000
25%,300.000000,18.000000,8.000000,15.00000
50%,700.000000,25.000000,13.000000,20.00000
75%,1800.000000,38.000000,20.000000,30.00000
max,40425.000000,105.000000,105.000000,118.00000

In [46]:
df[['product_weight_g',
    'product_length_cm',
    'product_height_cm',
    'product_width_cm']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89316 entries, 0 to 89315
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   product_weight_g   89301 non-null  float64
 1   product_length_cm  89301 non-null  float64
 2   product_height_cm  89301 non-null  float64
 3   product_width_cm   89301 non-null  float64
dtypes: float64(4)
memory usage: 2.7 MB

In [47]:
df[['product_weight_g',
    'product_length_cm',
    'product_height_cm',
    'product_width_cm']].head()

   product_weight_g  product_length_cm  product_height_cm  product_width_cm
0             491.0               19.0               12.0              16.0
1             440.0               18.0               14.0              17.0
2            2200.0               16.0               16.0              16.0
3            1450.0               68.0                3.0              48.0
4             300.0               17.0                4.0              12.0

In [48]:
cleaned_cols = [
    'product_category_name',
    'product_weight_g',
    'product_length_cm',
    'product_height_cm',
    'product_width_cm'
]

df_cleaned = df[cleaned_cols]

In [49]:
df_cleaned.to_csv("cleaned_products_columns_ghazal.csv", index=False)