In [1]:
import pandas as pd
from cleaning import clean_orders, clean_customers, clean_products, clean_all
import yaml

In [2]:
try:
    with open("../config.yaml", "r") as file:
        config = yaml.safe_load(file)
except:
    print("Configuration file not found!")

In [3]:
df = pd.read_csv(config['input_data']['file'])

In [4]:
df = clean_all(df)

df.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_timestamp,order_estimated_delivery_date,product_id,seller_id,price,...,payment_id,payment_sequential,payment_type,payment_installments,payment_value,product_category_name,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,Axfy13Hk4PIk,hCT0x9JiGXBQ,delivered,2017-10-22 18:57:54,2017-10-22 19:14:13,2017-10-26 22:19:52,2017-11-09,90K0C1fIyQUf,ZWM05J9LcBSF,223.51,...,1,1,credit_card,1,259.14,toys,491.0,19.0,12.0,16.0
1,v6px92oS8cLG,PxA7fv9spyhx,delivered,2018-06-20 21:40:31,2018-06-20 22:20:20,2018-07-03 22:51:22,2018-07-24,qejhpMGGVcsl,IjlpYfhUbRQs,170.80,...,2,1,credit_card,8,382.39,watches_gifts,440.0,18.0,14.0,17.0
2,Ulpf9skrhjfm,g3nXeJkGI0Qw,delivered,2018-02-16 16:19:31,2018-02-17 16:15:35,2018-02-27 01:29:50,2018-03-08,qUS5d2pEAyxJ,77p2EYxcM9MD,64.40,...,3,1,credit_card,4,249.25,construction_tools_garden,2200.0,16.0,16.0,16.0
3,bwJVWupf2keN,EOEsCQ6QlpIg,delivered,2018-08-18 18:04:29,2018-08-18 18:15:16,2018-08-27 20:03:51,2018-09-19,639iGvMyv0De,jWzS0ayv9TGf,264.50,...,4,1,credit_card,2,27.79,toys,1450.0,68.0,3.0,48.0
4,Dd0QnrMk9Cj5,mVz5LO2Vd6cL,delivered,2017-12-22 16:44:04,2017-12-22 17:31:31,2018-01-05 19:22:49,2018-01-18,1lycYGcsic2F,l1pYW6GBnPMr,779.90,...,5,1,credit_card,1,76.15,toys,300.0,17.0,4.0,12.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 89307 entries, 0 to 89315
Data columns (total 24 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       89307 non-null  object
 1   customer_id                    89307 non-null  object
 2   order_status                   89307 non-null  object
 3   order_purchase_timestamp       89307 non-null  datetime64[ns]
 4   order_approved_at              89307 non-null  datetime64[ns]
 5   order_delivered_timestamp      87418 non-null  datetime64[ns]
 6   order_estimated_delivery_date  89307 non-null  datetime64[ns]
 7   product_id                     89307 non-null  object
 8   seller_id                      89307 non-null  object
 9   price                          89307 non-null  float64
 10  shipping_charges               89307 non-null  float64
 11  customer_zip_code_prefix       89307 non-null  int64
 12  customer_city                  89307 non-null  object
 13  customer_state                 89307 non-null  object
 14  payment_id                     89307 non-null  int64
 15  payment_sequential             89307 non-null  int64
 16  payment_type                   89307 non-null  object
 17  payment_installments           89307 non-null  int64
 18  payment_value                  89307 non-null  float64
 19  product_category_name          89307 non-null  object
 20  product_weight_g               89286 non-null  float64
 21  product_length_cm              89292 non-null  float64
 22  product_height_cm              89292 non-null  float64
 23  product_width_cm               89292 non-null  float64
dtypes: datetime64[ns](4), float64(7), int64(4), object(9)
memory usage: 17.0+ MB

In [ ]:
#df.to_csv(config['output_data']['file'], index=False)